<div class="col-sm-3">
  <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Reservations</strong></a>
  <hr>
  <a href="#"><strong><i class="glyphicon glyphicon-list"></i> Inventory</strong></a>
  <hr>
  <a href="#"><i class="glyphicon glyphicon-wrench"></i><Strong> Setup</Strong></a>
  <ul class="nav nav-stacked">
    <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> Property</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Room & Rates</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Cancellations</a></li>
  </ul>
  <hr>
</div>
